################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/startsystems.html
/startparentandchild.html
/learningcrossfilter.html
/js
/docs
/data
/demo2504/js/orbit-controls.js
/demo2504/workingcrossfilter.html
